/* loader */

@keyframes loader {
  99.99% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 0%;
    width: 0%;
  }
}

@keyframes disparait {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes point {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.1);
  }
}

@keyframes apparait {
  99.99% {
    height: 0%;
    width: 0%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes erase {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
