// ****************color ***************
$light-white: #ffffff;
$white: #f3f3f3;
$light-grey: #f7f7f7;
$grey: #eaeaea;
$dark-grey: #7e7e7e;
$light-green: #99e2d0;
$green: #008766;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$purple: #9356dc;
$black: #000000;

$linear-gradient: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
