// ****************color ***************
$light-white:#ffffff;
$white: #F3F3F3;
$light-grey:#F7F7F7;
$grey:#EAEAEA;
$dark-grey:#7E7E7E;
$light-green: #99E2D0;
$green: #008766;
$light-blue: #89C8FA;
$dark-blue: #003A68;
$purple: #9356DC;
$black: #000000;

$linear-gradient:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
