@use "../utils/mixin.scss";
@use "../utils/colors.scss";
@use "../utils/typo_and_var.scss";
@use "../utils/animation.scss";

// ***************** components ********************

.button {
  color: colors.$white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
  height: 5rem;
  padding: 1.5rem 4rem;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}

.button:hover {
  filter: brightness(120%);
  box-shadow: 10px 14px 20px rgba(0, 0, 0, 0.55);
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: typo_and_var.$bs;
  border-radius: 15px;
}

// ****************** heart-checkbox *************************

.selection {
  display: none;
  &:checked + .heart .heart--vide {
    animation: erase 0.8s linear forwards;
  }
  &:checked + .heart .heart__filter--plein {
    opacity: 1;
  }
  &:checked + .heart .heart__filter--plein {
    z-index: 1;
    opacity: 1;
    animation: show 1s linear forwards;
  }
}

%tap-coeur {
  height: 48px;
  width: 48px;
}

.heart {
  @extend %tap-coeur;
  position: absolute;
  right: 0px;
  bottom: 0px;
  @media screen and (min-width: typo_and_var.$sst) {
    position: relative;
    right: 0rem;
    bottom: 0px;
  }
  &:hover {
    cursor: pointer;
  } /* coeur vide */
  &--vide {
    padding: 13px 12.5px 12px 12.8px;
    font-size: 2.5rem;
  }
  /* zone apparition du coeur plein */
  &__filter {
    @extend %tap-coeur;
    position: absolute;
    top: 0px;

    /* coeur plein */
    @media screen and (min-width: typo_and_var.$sst) {
      position: absolute;
      right: 0rpx;
      top: 0px;
    }

    &--plein {
      position: absolute;
      padding: 12px 11px 12px 13px;

      font-size: 2.5rem;
      color: transparent;
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(0);
      background: linear-gradient(200deg, #9356dc 35%, #ff79da 65%);
      -webkit-background-clip: text;
    }
  }
}
