@use "../utils/mixin.scss";
@use "../components/general";
@use "../utils/colors.scss";
@use "../components/components";
@use "../utils/typo_and_var.scss";

// ***********************Main ************************

.main {
  @include mixin.flex-center();
  width: auto;
  @media screen and (min-width: typo_and_var.$ssl) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: typo_and_var.$sst) {
    padding: 0;
    margin: 0;
    height: auto;
  }
}

// ****************** Fonctionnement ******************

.main__fonctionnement {
  @include mixin.flex-center();
  align-items: flex-start;
  padding: 4rem 2rem;
  width: 100%;

  @media screen and (min-width: typo_and_var.$ssl) {
    min-width: 70rem;
    padding: 3rem 20rem 0 20rem;
    height: auto;
  }

  & h2 {
    @include mixin.h1style();
    margin-bottom: 2rem;
    padding: 0;
    @media screen and (min-width: typo_and_var.$ssl) {
      padding: 0;
      margin: 0;
    }
  }

  &__cards {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @media screen and (min-width: typo_and_var.$ssl) {
      justify-content: flex-start;
      height: 15rem;
      flex-direction: row;
      width: 100%;
      margin: 0;
    }

    &-card {
      background: colors.$light-grey;
      width: 95%;
      height: 8rem;
      margin-left: -1.5rem;
      margin-bottom: 2.5rem;
      @media screen and (min-width: typo_and_var.$ssl) {
        width: 100%;
        min-width: 25rem;
        margin-right: 4rem;
        margin-left: 1rem;
        justify-content: flex-start;
      }
      & span {
        font-size: typo_and_var.$fsnew;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -10px;
        background: colors.$purple;
        color: colors.$white;
        border-radius: 50%;
        width: 2.8rem;
        height: 2.8rem;
      }
      & i {
        font-size: 2.5rem;
        color: colors.$dark-grey;
        margin-left: 3rem;
        margin-right: 2rem;
        @media screen and (min-width: typo_and_var.$ssl) {
          margin-left: 4rem;
          margin-right: 3rem;
        }
      }
      & .fa-store {
        color: colors.$purple;
      }
      & p {
        width: 80%;
        font-size: typo_and_var.$fsp;
        font-weight: 500;
      }
    }
  }
}

// ****************** Restaurants ******************

.main__restaurants {
  background: colors.$light-grey;
  width: 100%;
  @media screen and (min-width: typo_and_var.$ssl) {
    padding: 5rem 20rem;
  }
  & h2 {
    @include mixin.h1style();
    width: 90%;
    margin: 5rem 0 2rem 2rem;
    @media screen and (min-width: typo_and_var.$ssl) {
      margin-left: 0;
    }
  }
  &__cards {
    @include mixin.flex-center();

    @media screen and (min-width: typo_and_var.$ssl) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }

    &-card {
      cursor: pointer;
      flex-direction: column;
      width: 90%;
      margin-bottom: 2.5rem;
      @media screen and (min-width: typo_and_var.$ssl) {
        width: 45%;
      }

      &--nouveau {
        position: absolute;
        @include mixin.flex-center();
        top: 8px;
        right: 10px;
        width: 80px;
        height: 29px;
        background: colors.$light-green;
        color: colors.$green;
        font-weight: 500;
        font-size: typo_and_var.$fsnew;
        line-height: 16px;
      }

      & a {
        text-decoration: none;
        color: colors.$black;
        width: 100%;
        & img {
          height: 20rem;
          width: 100%;
          object-fit: cover;
          border-radius: 15px 15px 0 0;
          @media screen and (min-width: typo_and_var.$ssl) {
            height: 25rem;
          }
        }
      }

      &-description {
        @include mixin.flex-center();
        flex-direction: row;
        width: 100%;
        height: 8rem;
        align-items: center;
        & a {
          width: 80%;
        }
        &-text {
          & h3 {
            font-weight: 700;
            font-size: typo_and_var.$fsh3;
            line-height: 21px;
          }
          & p {
            padding-top: 0.5rem;
            font-size: typo_and_var.$fsp;
            font-weight: 300;
          }
        }
        & i {
          font-size: 2.5rem;
        }
      }
    }
  }
}
